nav{
    display:flex;
    justify-content:space-between;
    max-width: 1200px;
    margin:auto;
    padding:5px 12px;

}
header{

}
ul{
    display:flex;
    justify-content: space-between;
    list-style:none;
    gap:5px ;
}
.link{
    margin-top: 30px;

     
}
.link>li{
    padding: 10px;
}
.link>li>a{
    text-decoration: none;
    color: #646464;
}

.reg-btn{
    background-color: blue;
    color: #ffff;
    padding: 10px 35px;
    border-radius: 10px;
    text-decoration: none;
    
}
.hero-section{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("./assets/banner.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffff;

}
.hero-section>div>h1{
    font-size: 80px;
    font-weight: bold;
}

.hero-section>div>p{
    font-size: 20px;
    max-width: 700px;
    margin: auto;
}

.hero-section>div>a{
    margin-top: 200px;
    font-size: 20px;

    background-color: blue;
    color: #ffff;
    padding: 10px 35px;
    border-radius: 10px;
    text-decoration: none;
}


.speakers h2,
.pricing h2,
.cta h2{
    text-align:center;
    font-size:48px;
    margin-bottom:15px;
    font-weight:800;
}

.subtitle{
    text-align:center;
    color:#6b7280;
    margin-bottom:50px;
}

.speaker-grid{
    max-width:1200px;
    margin:60px auto 0;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
}

.card{
    background:#fff;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(0,0,0,.15);
}

.card img{
    height:280px;
    object-fit:cover;
}

.card-content{
    padding:25px;
}

.card-content small{
    color:#2563eb;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:1px;
}

.card-content h3{
    margin:10px 0;
    font-size:26px;
}

.card-content p{
    color:#6b7280;
    margin-top:20px;
    display:flex;
    justify-content: space-between;
    gap:8px
}